/* Quiz */

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.btnResponder {
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    height: 30px;
    width: 30%;
    font-weight: 600;
    font-size: smaller;
}