.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../src/assets/background.png');
    width: 110%;
    height: 100vh;
    margin: 5%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.btnResponder {
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: smaller;
}